[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "kgraph"]
	path = kgraph
	url = https://gitlab.com/thomaschln/kgraph
[submodule "linevis"]
	path = linevis
	url = https://gitlab.com/thomaschln/linevis
[submodule "opticskxi"]
	path = opticskxi
	url = https://gitlab.com/thomaschln/opticskxi
[submodule "sgraph"]
	path = sgraph
	url = https://gitlab.com/thomaschln/sgraph
[submodule "snplinkage"]
	path = snplinkage
	url = https://gitlab.com/thomaschln/snplinkage
